<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.diagnostics>
    <!-- 1. Enable the switch here. Without this, you get nothing. By default, Katana has "new SourceSwitch("Microsoft.Owin")" at the root level. -->
    <switches>
      <add name="Microsoft.Owin" value="Verbose" />
    </switches>

    <!-- 2. Add your shared listeners. -->
    <trace autoflush="true"></trace>
    <sharedListeners>
      <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="traces.log" />
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="traces.svclog" />
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>

    <!-- 3. Configure your source/trace switches with the listeners to get the output. -->
    <sources>

      <!-- "Microsoft.Owin" is the SourceSwitch name katana is using at the rootlevel. By enabling this, we are enabling all sub level traces by the components (if we don't change the default trace settings). -->
      <source name="Microsoft.Owin">
        <listeners>
          <add name="file" />
          <add name="console" />
          <add name="xml" />
        </listeners>
      </source>

      <!-- "MyCustomComponent" is my custom TraceSource name. -->
      <source name="MyCustomComponent">
        <listeners>
          <add name="MyCustomComponent-file" type="System.Diagnostics.TextWriterTraceListener" initializeData="traces-MyCustomComponent.log" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>